body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;

  /* 배경색 연두색 */
  background-color: #90EE90;

  /* 배경 이미지 */
  background-image: url('../assets/images/IMG_1966.jpeg');
  background-repeat: no-repeat;
  background-position: center center;

  /* 이미지 전체가 다 보이도록 */
  background-size: contain;

  /* 배경 이미지 고정(선택사항) */
  background-attachment: fixed;

  /* 글자색 */
  color: #333;
}
